---
layout: default
js:
  - index.js
---
<div id="news">
    <div id="#news-sizer"></div>
    {% for post in site.posts %}
    <div class="newsbit">
      <div class="card">
        
        {% if post.image %}
        <img class="card-img-top img-fluid" src="{{ site.url }}/images/{{ post.image }}" alt="" />
        {% endif %}
        
        <div class="card-block">
          
          {% if post.title %}
          <h4 class="card-title">
            {{ post.title }}
          </h4>
          {% endif %}
          
          <div class="card-text">
            {{ post.content }}
          </div>
          
        </div>
        
        {% if post.links %}
        <div class="card-block">
          {% for link in post.links %}
          <a class="card-link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        {% endif %}
        
        <footer class="card-footer text-muted">
          {{ post.date }}
        </footer>
        
      </div>
    </div>
    {% endfor %}
</div>



