---
layout: default
js:
  - index.js
group: news
---
<div id="news">
    <div id="#news-sizer"></div>
    {% for post in site.posts %}
    <div class="newsbit">
      <div class="card {{ post.category }}">
        
        {% if post.image %}
        <img class="card-img-top img-fluid" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image }}" alt="" />
        {% endif %}
        
        <div class="card-block">
          
          {% if post.header %}
          <h4 class="card-title">
            {{ post.header }}
          </h4>
          {% endif %}
          
          <div class="card-text">
            {{ post.content }}
          </div>
          
        </div>
        
        {% if post.links %}
        <div class="card-block">
          {% for link in post.links %}
          <a class="card-link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        {% endif %}
        
        <footer class="card-footer text-muted">
            <div class="col-xs-10">
              {{ post.date | date: '%B %d, %Y' }}
            </div>
            <div class="col-xs-2 help" style="text-align: right">
                {% if post.category == "lambdasex" %}
                <a href="#" data-placement="left" data-toggle="tooltip" data-placement="top" title="Detta är en gästpost av festföreningen Lambda6! Länk till Lambda6 finns i menyn till vänster."><i class="material-icons">&#xE887;</i></a>
                {% endif %}
            </div>
        </footer>
        
      </div>
    </div>
    {% endfor %}
  
</div>



