<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monaden.se</title>
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css" media="screen" type="text/css" charset="utf-8" /> {% for src in page.css %}
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/{{ src }}" media="screen" type="text/css" charset="utf-8" /> {% endfor %}
</head>

<body>
  <div id="mask"></div>
  <div id="not-menu">
    <div class="container">
      <nav id="main-navigation">
        <div id="brand">
          <a href="#">monaden.se</a>
        </div>

        <div id="searchbar">
          <form>
            <input id="search" type="text" placeholder="Search">
          </form>
        </div>

        <div id="navtoggle">
          <button type="button" id="navbar-open-button">
            &#9776;
          </button>
        </div>
      </nav>
    </div>

    <div class="header">
      <h1>monaden.se</h1>
    </div>

    <div id="main-content">
      {{ content }}
    </div>
  </div>
  <div id="menu">
    <button id="navbar-close-button">
      &#x2716;
    </button>
    <ul>
      <li>
        <a href="index.htm" class="nav-link">Nyheter</a>
      </li>

      <li>
        <a href="sat.htm" class="nav-link">SAT</a>
      </li>

      <li>
        <a href="monaden.htm" class="nav-link">Monaden</a>
      </li>

      <li>
        <a href="forstaar.htm" class="nav-link">För förstaårsstudenter</a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" id="dLabel" aria-haspopup="true" aria-expanded="false">
  					Kursinformation
  				</a>
        <div class="dropdown-menu" aria-labeledby="dLabel">
          <a href="#" class="dropdown-item">Action</a>
          <a href="#" class="dropdown-item">Action</a>
        </div>
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/jquery.color-2.1.2.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/bootstrap.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/navscroll.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/menu.js"></script>
  {% for src in page.js %}
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/{{ src }}"></script>
  {% endfor %}
</body>

</html>
